# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
.idea
.vscode
*.pth
*.jpg
*.jpeg
*.png
*.mp4
*.pyc
./src/data/Caltech
./src/data/Cityscapes
./src/data/crowdhuman
./src/data/CUHKSYSU
./src/data/ETHZ
./src/data/MOT17
./src/data/MOT20
./src/data/PRW
./src/data/SOMPT22
.src/data/bdd100k
.src/data/MOT15
.src/data/MOT16
.src/data/Citypersons
.src/data/labels
.src/data/sompt22_tid_num.json
.src/data/tid_num.json

