.idea
*.pth
*.jpg
*.jpeg
*.png
*.mp4
*.pyc
.src/data/bdd100k
.src/data/MOT15
.src/data/MOT16
.src/data/MOT17
.src/data/MOT20
.src/data/Caltech
.src/data/PRW
.src/data/Cityscapes
.src/data/Citypersons
.src/data/ETHZ
.src/data/CUHKSYSU
.src/data/labels
.src/data/sompt22_tid_num.json
.src/data/tid_num.json
.src/data/crowdhuman
